<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CUITe.VS2013" version="2.0.214-beta" targetFramework="net452" />
  <package id="EntityFramework" version="4.1.10311.0" targetFramework="net452" />
  <package id="Shouldly" version="2.6.0" targetFramework="net452" />
  <package id="T4Scaffolding" version="1.0.5" targetFramework="net452" />
</packages>